{
  "test": {
    "NODE_ENV": "production",
    "MODE: "development"
    "PERSISTENCE": "MONGO",
    "MONGO_URL": "mongodb+srv://user:password@coderhousecluster.q3o8n6f.mongodb.net/db_name?retryWrites=true&w=majority",
    "PORT": 8080,
    "ADMIN_EMAIL": "adminCoder@coder.com",
    "ADMIN_PASSWORD": "adminCod3r123",
    "COOKIE_SECRET": "sha-256_hash_here",
    "HOST_URL": "http://localhost:8080",
    "HASH_SALT_ROUNDS": 10,
    "GITHUB_CLIENT_ID": "",
    "GITHUB_CLIENT_SECRET": "",
    "GITHUB_CALLBACK_URL": "http://localhost:8080/sessions/github-callback",
    "JWT_SECRET": "sha-256_hash_here",
    "JWT_COOKIE_NAME": "AuthJwt",
    "EMAIL_SERVICE": "gmail",
    "EMAIL_PORT": 587,
    "EMAIL_ADDRESS": "user@gmail.com",
    "EMAIL_PASSWORD": "abcdefghijklmno"
  }
}
