<div>
  <h1>
    💬 Chat!
  </h1>
</div>
<hr />
<div>
  <input type="text" id="message_input">
</div>
<hr />
<div>
  <ul id="message_log"></ul>
</div>
<input type="text" value="{{user.email}}" id="user.email" hidden></input>
<input type="text" value="{{user._id}}" id="user._id" hidden></input>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/chat.js"></script>